/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*******************************************************************************
GENERAL
*******************************************************************************/

body {
    background-color: rgb(70, 70, 70);
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

/*******************************************************************************
HEADER
*******************************************************************************/

header{
    background-color: rgb(240, 240, 240);
    height:15em;
}


#logos {
    height:14em;
    width:23em;
    background-color: steelblue;
    margin:auto;
}

/*Barre de Navigation*/

.nav_grande{
  display:none;
}

nav {
  background-color: rgb(210, 0, 0);
  text-align: center;
}


nav ul a{
  font-size: 17px ;
  font-weight: bold;
  color:white;
  padding: 15px 5px;
  text-decoration: none;
}


/*******************************************************************************
CORPS DE TEXTE
*******************************************************************************/


#carroussel{
    background-color: rgb(123, 123, 50);
    height:18em;

}

#recherche{
    background-color: rgb(200, 150, 100);
    height:18em;
    text-align: center;
}

#recherche form {
    display: flex;
    flex-direction: column;


}

#recherche input{
    margin:0.6em auto;
    width: 90%;
}

#recherche button{
    margin:0.6em auto;
    width: 90%;
    height:30px;
}


/*******************************************************************************
FOOTER
*******************************************************************************/

footer {
    background-color: rgb(220, 220, 220);
    width:100%;
    padding: 1.4em;
}



#map {
  height: 380px;
}

#coordonne_footer {
  background-color: rgb(120, 220, 250);
}

#raiseau_spaciaux {
  background-color: rgb(70, 220, 150);
}




/* ==========================================================================
   Media Queries
   ========================================================================== */




@media only screen and (min-width: 35em) {

    .navbar{
      display:none;
    }

    .nav_grande{
      display:block;
    }

    #first_floor{

        display:flex;
    }


    #carroussel{

        width:50%;
    }

    #recherche{
        width:50%;

    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
