/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*******************************************************************************
GENERAL
*******************************************************************************/

body {
    background-color: rgb(50, 50, 50);
    color: rgb(230, 230, 230);
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;

}

h3 {
  font-family: 'Baloo Chettan', cursive;
  color:rgb(40, 120, 210);
  font-size: 2.8em;
}

h4 {
  font-size: 1.9em;
}

h5 {
  font-family: 'Baloo Chettan', cursive;
  color:rgb(40, 120, 210);
  font-size: 1.7em;
}


/*******************************************************************************
HEADER
*******************************************************************************/

header{
    background-color: rgb(240, 240, 240);
    height:15em;
}


#logos {
    height:14em;
    width:23em;
    background-color: steelblue;
    margin:auto;
}

/*Barre de Navigation*/

.nav_grande{
  display:none;
}

nav {
  border-bottom: 10px solid rgb(30, 30, 30);
  background-color: rgb(40, 120, 210);
  text-align: center;
}


nav ul a{
  font-size: 1.76em ;
  font-weight: bold;
  color:white;
  padding: 15px 5px;
  text-decoration: none;
}


/*******************************************************************************
CORPS DE TEXTE ////////// PAGE D'ACCEUIL
*******************************************************************************/
#corpsdutexte{
  margin-left: 5%;
  margin-right: 5%;
}


/*recherche*/

#first_floor{
  margin-top: 2em;
  margin-bottom: 3em;
  border-right: 2px white;
  border-bottom-right-radius:3em;
}



#recherche{
    background-color: rgb(40, 120, 210);
    border-radius: 20px;
    padding-top:20px;
    margin-top: 2em;
    height:350px;
    text-align: center;
}

#recherche form {
    display: flex;
    flex-direction: column;
}

#recherche input{
    color:rgb(40, 40, 40);
    margin:0.6em auto;
    width: 90%;
}

#recherche button{
    color:rgb(40, 40, 40);
    margin:1.2em auto;
    width: 90%;
    height:30px;
}

/*description*/

#description{
  margin:1em;
}

#description figure{
  height:350px;
  margin-bottom: 1.5em;
}

#description h3{
}

#description h4{
  margin-bottom: 2em;
}

#description_enpage{
  display:flex;
  flex-direction: column;
}

/*nouveautée*/

#nouveaute_maintenant{
  border-top: 3px solid rgb(40, 120, 210);
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  color:rgb(40, 40, 40);
  margin-top: 30px;
  margin-bottom: 50px;
  width:430px;
  height: 450px;
}

.card img {
  width:430px;
  padding:10px;
}

.card .btn {
  position:absolute;
  background-color: rgb(40, 120, 210);
  border:none;
  bottom:10px;
}


/*******************************************************************************
CORPS DE TEXTE ////////// PAGE VENTE
*******************************************************************************/

#corps_de_texte_vente{
  margin:20px;
  display: flex;
  flex-direction: column;

}

.case_de_vente {
  color:#444;
  padding:10px;
  background-color: #ddd ;

}

.article_de_vente{
  border-top: 3px solid rgb(40, 120, 210);
  margin-top: 20px;
}

.article_de_vente h4 {
  margin: 20px auto 10px;
}

.article_de_vente span {
  margin-left: 10px;
  font-size: 19px;
}

.article_de_vente .prix{
  font-size: 30px;
  margin-bottom: 20px;
}

#Interresse{
  font-size: 30px;
  color:rgb(40, 120, 210);
  margin-top:20px;
  margin:10px auto 10px;
  width:100%;
  height: 50px;
  margin:auto;
  background: none;
  border: 3px solid rgb(40, 120, 210);
  border-radius: 10px;
}

#Interresse:hover{
  margin:auto;
  color:white;
  background: rgb(40, 120, 210);
}


#recherche_vente{
  display:flex;
  flex-direction: column;
  margin:35px auto;;
  background-color: rgb(40, 120, 210);
  padding:20px;
  color:#444;

}

#recherche_vente input {
  margin:3px 10%;
  width:80%;
}

#recherche_button {
  margin:30px 10% 0;
  width:80%;
  border: 3px solid white;
}



/*******************************************************************************
FOOTER
*******************************************************************************/

footer {
  color:rgb(40, 40, 40);
  background-color: rgb(220, 220, 220);
  width:100%;
  padding: 1.4em;
  border-top: 25px solid rgb(30, 30, 30);
}

#totalfooter {
  display:flex;
  flex-direction: column;
  margin:auto;
  width:350px;
  text-align: center;
}

footer article{
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  width:350px;
}

#map {
  height: 380px;
  margin-top: 20px;
  margin-bottom: 0.5em;
}

#coordonne_footer {
  margin-top: 20px;
  margin-bottom: 0.5em;
}

#raiseau_spaciaux {
  margin-top:20px;
  margin-bottom: 0.5em;
}

footer .sociaux {
  margin-top: 10px;
  text-align: center;
}

footer .copyright {
  text-align: center;
}

i {
  padding: 10px;
  color:#333;
}

.sociaux i:hover {
  color:rgb(40, 120, 210);;
}


.button-back-top a {
  color: #333;
  text-decoration: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */




@media only screen and (min-width: 35em) {

    body {
      font-size: 1em;
    }

    #corpsdutexte{
      width:750px;
      margin-left: auto;
      margin-right: auto;
    }


    .navbar{
      display:none;
    }

    .nav_grande{
      display:block;
      border-bottom: 10px solid rgb(30, 30, 30);
    }

    #first_floor{

        display:flex;
    }


    #carroussel{

        width:70%;
    }

    #recherche{
        padding-top:20px;
        margin-top: 2em;
        margin-left: 1em;
        height:290px;
        margin-top: 0em;
        width:30%;

    }

    #totalfooter {
      flex-direction: row;
      justify-content: space-between;
      width:750px;
      height: 300px;
      margin:auto;
    }

    #map{
      width:400px;
    }

    #description_enpage{
      display:flex;
      flex-direction:row;
    }

    #description_enpage img {
      width:350px;
      height: auto;
      margin-right: 30px;
    }

    .card {
      margin-top: 30px;
      width:240px;
      height:350px;
    }

    .card img {
      padding:10px;
      width:240px;
    }

  .card:nth-child(4){
    display:none;
  }

  i {
    padding: 25px;
  }

  /***********************************
  CORPS DE TEXTE ////////// PAGE VENTE
  ***********************************/

  .case_de_vente {
    display: flex;
    flex-wrap: wrap;
    width:850px;
    margin:auto;

  }
  .case_de_vente figure {
    padding:20px;
    width:50%;

  }

  .case_de_vente article {
    height: auto;
    margin-left: 5px;
    margin-bottom: 30px;
    padding:20px;
  }

  #recherche_vente input {
    margin:5px 1px;
    width:400px;
  }

  #recherche_button {
    margin:30px auto 0;
    width:100%;
    border: 3px solid white;
  }

  #recherche_vente{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:850px;
}



@media only screen and (min-width: 65em) {

    #corpsdutexte{
      width:1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .navbar{
      display:none;
    }

    .nav_grande{
      display:block;
    }

    #first_floor{

        display:flex;
    }


    #carroussel{

        width:70%;
    }

    #recherche{
        width:30%;

    }

    #totalfooter {
      width:1300px;
      margin:auto;
    }

    .card {
      margin-top: 30px;
      width:230px;
    }

    .card img {
      width:220px;
    }

    .card:nth-child(4){
      display:block;
    }

    /***********************************
    CORPS DE TEXTE ////////// PAGE VENTE
    ***********************************/



    .case_de_vente {
      display: flex;
      width:1050px;
      margin:auto;

    }
    .case_de_vente figure {
      padding:20px;
      width:60%;

    }

    .case_de_vente article {
      height: auto;
      width: auto;
      margin-left: 5px;
      margin-bottom: 30px;
      padding:20px;
    }
  #interresse {
    width:750px;
  }

  #recherche_vente input {
    margin:3px auto;
    width:500px;
  }

  #recherche_button {
    margin:30px auto 0;
    width:100%;
    border: 3px solid white;
  }

  #recherche_vente{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:1050px;
}


}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
